.new-tweet {
  border-radius: 15px;
  background-color: lightgrey;
  padding-bottom: 40px;
  color: 030;
  margin-bottom: 20px;
}

.container {
  padding: 2em;
}


section h2 {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0;
}

section h2:after{
  display: inline-block;
  position: relative;
  content: "";
  border-bottom: .1rem solid black;
  width: 100%;
  transform: translateY(-15px);
}

section textarea {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
}

.tweetbutton {
  float: left;
  margin-left: 20px
}

.counter {
  float: right;
  margin-right: 20px;
  width: 30px;
  background: transparent;
  border: transparent;
}

.charcount {
  color: red;
}

#tweets-container article{
  border-radius: 15px;
  border: 1px solid grey;
  background-color: white;
  color: 030;
  text-align: left;
  margin-bottom: 20px;
}

#tweets-container article p {
  margin-left: 10px;
}


#tweets-container article header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #eee;
  width: 100%;
  height: 50px;
  color: 030;
  opacity: 0.5;
}

#tweets-container article header .username{
  display: inline-block;
  float: left;
  margin: 10px;
  font-size: 25px;

}

#tweets-container article header .userid {
  display: inline-block;
  float: right;
  margin: 10px;
}

#tweets-container article header .avatar {
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
}

#tweets-container article footer {
  height: 30px;
}

#tweets-container article time {
  float: left;
  margin: 10px;
  font-size: 10%;
}


#tweets-container article:hover header{
  opacity: 1.0;
}

#tweets-container article:hover{
  border: 1px solid black;
}

#tweets-container article footer .icon {
  width: 15px;
  float: right;
  margin: 10px 10px 10px 0px;
  display: none;
}

#tweets-container article:hover .icon {
  display: inline-block;
}